#sidebar {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  color: #fff;
  transition: all 0.3s;
}

.btn {
  background-color:var(--clr-preto);
  color:var(--clr-branco-gelo)
}