<!-- menu login -->
<div class="container-fluid p-0" *ngIf="auth.logado()">
  <div class="row" *ngIf="auth.logado()">

    <div class="col-md-3 p-0" *ngIf="auth.logado()">
      <app-menu *ngIf="auth.logado()"></app-menu>
    </div>

    <div class="col-md-9 p-0" *ngIf="auth.logado()">
      <router-outlet *ngIf="auth.logado()"></router-outlet>
    </div>
  </div>

<app-rodape *ngIf="auth.logado()"></app-rodape>
</div>


<!-- menu logoff -->
<div class="container-fluid p-0" *ngIf="!auth.logado()">
  <app-menu *ngIf="!auth.logado()"></app-menu>
  <router-outlet *ngIf="!auth.logado()"></router-outlet>
  <app-rodape *ngIf="!auth.logado()"></app-rodape>
</div>