<!-- menu login -->
<div class="container-fluid p-0" *ngIf="auth.logado()">
  <div class="row" *ngIf="auth.logado()">

    <div class="col-md-2 p-0 barrasCor" *ngIf="auth.logado()">
      <app-menu *ngIf="auth.logado()" class="mr-0"></app-menu>
    </div>

    <div class="col-md-10 p-0" *ngIf="auth.logado()">
      <router-outlet *ngIf="auth.logado()"></router-outlet>
    </div>
  </div>

  <app-rodape *ngIf="auth.logado()" class="mt-auto"></app-rodape>
</div>


<!-- menu logoff -->
<div class="container-fluid p-0" *ngIf="!auth.logado()">
  <app-menu *ngIf="!auth.logado()"></app-menu>
  <router-outlet *ngIf="!auth.logado()"></router-outlet>
  <app-rodape *ngIf="!auth.logado()" class="mt-auto"></app-rodape>
</div>