<div class="container mt-5 mb-5">

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center text-secondary">Edite sua denúncia</h1>
    </div>
  </div>
  <hr>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">

      <form>
        <div class="form-group">
          <label for="temas">Tipo de denúncia: <small class="text-danger font-weight-bold">*</small></label>
          <select class="form-control badge-pill" id="temas" name="idTema" [(ngModel)]="idTema" (change)="findByIdTema()">
            <option *ngFor="let item of listaTemas" value="{{item.id}}">{{item.categoria}}</option>
          </select>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputCep">CEP</label>
            <input type="text" class="form-control badge-pill" name="cep" id="inputCep" placeholder="12345678" [(ngModel)]="postagem.cep">
            </div>

            <!-- !lista de UF sigla -->
            <div class="form-group col-md-4">
              <label for="inputState">UF</label>
              <select id="inputState" class="form-control badge-pill" name="estado"
                [(ngModel)]="postagem.ufSigla">
                <option selected>Escolha...</option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
              </select>
            </div>
            <!-- !/lista de UF sigla -->

            <!-- !lista de Cidade nome -->
          <div class="form-group col-md-4">
            <label for="inputCep">Cidade</label>
            <input type="text" class="form-control badge-pill" name="cidade" id="inputCidade" [(ngModel)]="postagem.ufNome">
          </div>
          <!-- !/lista de Cidade nome -->

          </div>

        <div class="form-group">
          <label for="inputEndereco">Endereço</label>
          <input type="text" class="form-control badge-pill" name="endereco" id="inputEndereco" [(ngModel)]="postagem.endereco">
        </div>
        <div class="form-group">
          <label for="inputEndereco2">Complemento</label>
          <input type="text" class="form-control badge-pill" name="endereco2" id="inputEndereco2" [(ngModel)]="postagem.complemento">
        </div>


        <div class="form-group">
          <label for="fotos">Link da foto</label>
          <input type="text" class="form-control badge-pill" name="foto" id="fotos" [(ngModel)]="postagem.foto">
        </div>

        <div class="form-group">
          <label for="denuncia">Descreva sua denúncia</label>
          <textarea class="form-control mensagemValidar" name="caixaTexto" id="denuncia" rows="5" [(ngModel)]="postagem.texto"></textarea>
          <div class="textMensagem text-light"></div>
        </div>
        <small class="text-danger font-weight-bold">* Campos obrigatorios</small>
      </form>

      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-danger mr-3" routerLink="/postagem">Cancelar</button>
        <button type="button" class="btn btn-outline-secondary" (click)="atualizar()">Atualizar</button>
      </div>

    </div>
  </div>

</div>