:root {
  --clr-preto: #222222;
  --clr-cinza-escuro: #767B91;
  --clr-branco-gelo: #E1E5EE;
}

body{
overflow-x: hidden;
}

.fs-00{
  font-size: 20pc;
}

.barrasCor{
  background-color: var(--clr-preto);
}

.corFundo {
  background-color: var(--clr-branco-gelo);
}

.corTexto {
  color:var(--clr-branco-gelo);
}
