<div class="container-fluid">

  <div class="row">

    <!-- Centro -->
    <div class="col-md-6">

      <!-- Postagem -->
      <div class="row d-flex justify-content-center m-3">

        <h1 class="mr-3">DENUNCIE AGORA </h1>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-secondary badge-pill" data-toggle="modal" data-target="#exampleModal">
        Denuncie
      </button>
      <!-- /Button trigger modal -->

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Faça sua denuncia</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="temas">Tipo de denuncia ou <a routerLink="/tema" data-dismiss="modal">cadastre um novo</a>: </label>
                  <select class="form-control badge-pill" id="temas" name="idTema" [(ngModel)]="idTema" (change)="findByIdTema()">
                    <option *ngFor="let item of listaTemas" value="{{item.id}}">{{item.categoria}</option>
                  </select>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputCep">CEP</label>
                    <input type="text" class="form-control badge-pill" name="cep" id="inputCep" placeholder="12345678" [(ngModel)]="idTema">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputCidade">Cidade</label>
                    <input type="text" class="form-control badge-pill" name="cidade" id="inputCidade" [(ngModel)]="idTema">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">Estado</label>
                      <select id="inputState" class="form-control badge-pill">
                      <option selected>Escolha...</option>
                      <option value="AC">Acre</option>
                      <option value="AL">Alagoas</option>
                      <option value="AP">Amapá</option>
                      <option value="AM">Amazonas</option>
                      <option value="BA">Bahia</option>
                      <option value="CE">Ceará</option>
                      <option value="DF">Distrito Federal</option>
                      <option value="ES">Espirito Santo</option>
                      <option value="GO">Goiás</option>
                      <option value="MA">Maranhão</option>
                      <option value="MS">Mato Grosso do Sul</option>
                      <option value="MT">Mato Grosso</option>
                      <option value="MG">Minas Gerais</option>
                      <option value="PA">Pará</option>
                      <option value="PB">Paraíba</option>
                      <option value="PR">Paraná</option>
                      <option value="PE">Pernambuco</option>
                      <option value="PI">Piauí</option>
                      <option value="RJ">Rio de Janeiro</option>
                      <option value="RN">Rio Grande do Norte</option>
                      <option value="RS">Rio Grande do Sul</option>
                      <option value="RO">Rondônia</option>
                      <option value="RR">Roraima</option>
                      <option value="SC">Santa Catarina</option>
                      <option value="SP">São Paulo</option>
                      <option value="SE">Sergipe</option>
                      <option value="TO">Tocantins</option>
                      </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEndereco">Endereço</label>
                  <input type="text" class="form-control badge-pill" name="endereco" id="inputEndereco" placeholder="1234 Av. Paulista" [(ngModel)]="idTema">
                </div>
                <div class="form-group">
                  <label for="inputEndereco2">Complemento</label>
                  <input type="text" class="form-control badge-pill" name="endereco2" id="inputEndereco2" [(ngModel)]="idTema">
                </div>


                <div class="form-group">
                  <label for="fotos">Link para a foto</label>
                  <input type="text" class="form-control badge-pill" name="foto" id="fotos" [(ngModel)]="idTema">
                </div>

                <div class="form-group">
                  <label for="denuncia">Entre com sua denúncia</label>
                  <textarea class="form-control" name="caixaTexto" id="denuncia" rows="5" [(ngModel)]="idTema"></textarea>
                </div>
              </form>

              <div class="row">
                <div class="col d-flex justify-content-end">
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="checkbox" id="checkbox" [(ngModel)]="idTema">
                      <label class="form-check-label" for="checkbox">
                        Urgencia
                      </label>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary badge-pill" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-outline-secondary badge-pill">Enviar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- /Modal -->
      </div>
      <!-- /Postagem -->

    <hr>

      <!-- Posts -->
      <div class="row">
        <div class="col d-flex justify-content-center">
          <h3>Posts</h3>
        </div>

        <div class="row">
          <div class="container mb-5 mt-3" id="postagens">
            <nav>
              <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
                <a class="nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab" href="#nav-todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as postagens</a>

                <a (click)="findByIdUser()" class="nav-link text-secondary font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab" href="#nav-minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas Postagens</a>

                <a class="nav-link text-secondary font-weight-bold" id="nav-postagenTema-tab" data-toggle="tab" href="#nav-postagenTema" role="tab" aria-controls="nav-postagenTema" aria-selected="false">Postagens por tema</a>
              </div>
            </nav>

            <!-- Abas das postagens -->
            <div class="tab-content mt-3" id="nav-tabContent">
              <!-- !Todas as postagens -->
              <div class="tab-pane fade show active" id="nav-todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">

                <div class="card-columns">
                  <div class="card text-center" *ngFor="let item of listaPostagens">
                    <div class="card-body">
                      <h5 class="card-title m-0">{{item.tema}}</h5>
                      <p class="card-text mt-3">{{item.texto}}</p>
                      <p class="card-text"><small class="text-muted">{{item.date | date: "dd/MM/yyyy"}} ás {{item.date | date: "HH:mm"}}</small></p>
                      <p class="card-text"><small class="text-muted">Postado por: {{item.usuario.nome}}</small></p>
                    </div>
                  </div>
                </div>

              </div>
              <!-- !/Todas as postagens -->

              <!-- !Minhas Postagens -->
              <div class="tab-pane fade" id="nav-minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">

                <div class="card-columns">
                  <div class="card text-center" *ngFor="let item of user.postagem">
                    <div class="card-body">

                      <small class="text-muted">Tema: {{item.tema.categoria}</small>
                      <p class="card-text mt-3">{{item.texto}}</p>
                      <p class="card-text"><small class="text-muted">{{item.date | date: "dd/MM/yyyy"}} ás {{item.date | date: "HH:mm"}}</small></p>
                      <p class="card-text"><small class="text-muted">Postado por: {{user.nome}}</small></p>

                      <div>
                        <a class="btn btn-secondary badge-pill mr-3" [routerLink]="['/postagemEdit', item.id]">Editar</a>
                        <a class="btn btn-outline-danger badge-pill" [routerLink]="['/postagemDelete', item.id]">Apagar</a>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
              <!-- !/Minhas Postagens -->

              <!-- !Postagens por tema -->
              <div class="tab-pane fade" id="nav-postagenTema" role="tabpanel" aria-labelledby="nav-postagenTema-tab">

                <div class="form-group">
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                      <select class="form-control badge-pill" id="temas" name="idTema" [(ngModel)]="idTema">
                        <option *ngFor="let item of listaTemas" value="{{item.id}}">{{item.categoria}</option>
                      </select>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center mt-3">
                    <button type="button" class="btn btn-outline-secondary badge-pill" (click)="pesquisar()">Pesquisar</button>
                  </div>
                </div>

                <div class="card-columns">
                  <div class="card text-center" *ngFor="let item of tema.postagem">
                    <div class="card-body">

                      <small class="text-muted">Tema: {{tema.categoria}}</small>
                      <p class="card-text mt-3">{{item.texto}}</p>
                      <p class="card-text"><small class="text-muted">{{item.date | date: "dd/MM/yyyy"}} ás {{item.date | date: "HH:mm"}}</small></p>
                      <p class="card-text"><small class="text-muted">Postado por: {{user.nome}}</small></p>
                    </div>
                  </div>
                </div>

              </div>
              <!-- !/Postagens por tema -->

            </div>
            <!-- /Abas das postagens -->
          </div>
        </div>
      </div>
      <!-- /Posts -->


    </div>
    <!-- /Centro -->

    <!-- lado direito -->
    <div class="col-md-6">
      <div class="row d-flex justify-content-center m-3">
        <h1>Noticias</h1>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <ul class="list-group">
            <li class="list-group-item">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro blanditiis quaerat temporibus fugit nesciunt ab perspiciatis! Minima animi sed in laudantium aspernatur vel consequuntur, nostrum sequi voluptates, perferendis amet necessitatibus!</li>
            <li class="list-group-item">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis ut modi velit autem sequi dignissimos odit, tempore repellat ratione quas at animi quam itaque iure repellendus accusantium doloribus nulla quaerat!</li>
            <li class="list-group-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim qui, voluptates provident temporibus cumque soluta hic itaque et quaerat explicabo omnis obcaecati eveniet accusamus, ipsa debitis reiciendis mollitia officia vel.</li>
            <li class="list-group-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, deleniti doloribus odio quasi ullam molestias, labore blanditiis mollitia perspiciatis consectetur quos sed et modi ratione incidunt, repudiandae aliquam natus dolore.</li>
            <li class="list-group-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. At odio quia consequatur neque doloribus quam suscipit, deleniti numquam veritatis. Molestias mollitia tempore cumque iste consequuntur eveniet omnis voluptatem atque velit.</li>
          </ul>
        </div>
      </div>

    </div>
    <!-- /lado direito -->

  </div>

</div>