<div class="container-fluid ml-4 mr-4">

  <div class="row">

    <!-- Centro -->
    <div class="col-md-8">

      <!-- Postagem -->
      <div class="container-fluid row d-flex justify-content-center m-3">

        <h1 class="mr-3">DENUNCIE AGORA </h1>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-warning badge-pill text-uppercase font-weight-bold text-white" data-toggle="modal" data-target="#exampleModal">
        Denuncie
      </button>
      <!-- /Button trigger modal -->

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Faça sua denúncia</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="temas">Tipo de denúncia ou <a routerLink="/tema" data-dismiss="modal">cadastre um novo</a>: </label>
                  <select class="form-control badge-pill" id="temas" name="idTema" [(ngModel)]="idTema" (change)="findByIdTema()">
                    <option *ngFor="let item of listaTemas" value="{{item.id}}">{{item.categoria}}</option>
                  </select>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputCep">CEP</label>
                    <input type="text" class="form-control badge-pill" name="cep" id="inputCep" placeholder="12345678" (input)="validarCep()" [(ngModel)]="postagem.cep">
                    </div>

                    <!-- !lista de UF sigla -->
                    <div class="form-group col-md-4">
                      <label for="inputState">UF</label>
                      <select id="inputState" class="form-control badge-pill" name="estado"
                        [(ngModel)]="postagem.ufSigla">
                        <option selected>Escolha...</option>
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AP">AP</option>
                        <option value="AM">AM</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MS">MS</option>
                        <option value="MT">MT</option>
                        <option value="MG">MG</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PR">PR</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RS">RS</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="SC">SC</option>
                        <option value="SP">SP</option>
                        <option value="SE">SE</option>
                        <option value="TO">TO</option>
                      </select>
                    </div>
                    <!-- !/lista de UF sigla -->

                    <!-- !lista de Cidade nome -->
                  <div class="form-group col-md-4">
                    <label for="inputCep">Cidade</label>
                    <input type="text" class="form-control badge-pill" name="cidade" id="inputCidade" [(ngModel)]="postagem.ufNome">
                  </div>
                  <!-- !/lista de Cidade nome -->

                  </div>

                  <div class="form-group">
                    <label for="inputEndereco">Endereço</label>
                    <input type="text" class="form-control badge-pill" name="endereco" id="inputEndereco"
                    [(ngModel)]="postagem.endereco">
                  </div>
                  <div class="form-group">
                    <label for="inputEndereco2">Complemento</label>
                    <input type="text" class="form-control badge-pill" name="endereco2" id="inputEndereco2"
                      [(ngModel)]="postagem.complemento">
                  </div>


                  <div class="form-group">
                    <label for="fotos">Link da foto</label>
                    <input type="text" class="form-control badge-pill" name="foto" id="fotos"
                      [(ngModel)]="postagem.foto">
                  </div>

                  <div class="form-group">
                    <label for="denuncia">Descreva sua denúncia</label>
                    <textarea class="form-control mensagemValidar" name="caixaTexto" id="denuncia" rows="5"
                      [(ngModel)]="postagem.texto" (input)="validarMensagem()" (input)="contagem()"></textarea>
                    <div class="textMensagem text-secondary">Número de caracteres {{this.contador}}/1000</div>
                  </div>
                </form>

                <div class="row">
                  <div class="col d-flex justify-content-end">
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkbox" id="checkbox"
                          [(ngModel)]="postagem.urgencia">
                        <label class="form-check-label" for="checkbox">
                          Urgência
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger badge-pill" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-outline-secondary badge-pill" (click)="publicar()"
                  data-dismiss="modal">Enviar</button>
              </div>
            </div>
          </div>
        </div>
        <!-- /Modal -->
      </div>
      <!-- /Postagem -->

      <hr>

      <!-- Posts -->
      <div class="row">
        <div class="container mb-5 mt-3" id="postagens">
          <nav>
            <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
              <a class="nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab"
                href="#nav-todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as
                denúncias</a>

              <a (click)="findByIdUser()" class="nav-link text-secondary font-weight-bold" id="nav-minhasPostagens-tab"
                data-toggle="tab" href="#nav-minhasPostagens" role="tab" aria-controls="nav-minhasPostagens"
                aria-selected="false">Minhas denúncias</a>

              <a class="nav-link text-secondary font-weight-bold" id="nav-postagenTema-tab" data-toggle="tab"
                href="#nav-postagenTema" role="tab" aria-controls="nav-postagenTema" aria-selected="false">Denúncias por
                categoria</a>
            </div>
          </nav>

          <!-- Abas das postagens -->
          <div class="tab-content mt-3" id="nav-tabContent">
            <!-- !Todas as postagens -->
            <div class="tab-pane fade show active" id="nav-todasPostagens" role="tabpanel"
              aria-labelledby="nav-todasPostagens-tab">

              <div class="card-columns">
                <div class="card text-center" *ngFor="let item of listaPostagens">
                  <div class="card-body">
                    <h5 class="card-title m-0">{{item.tema.categoria}}</h5>
                    <p class="card-text"><small class="text-muted">Estado: {{item.ufNome}}/{{item.ufSigla}}</small></p>
                    <p class="card-text mt-3">{{item.texto}}</p>
                    <img src="{{item.foto}} " onerror="this.src = 'assets/imagens/SemImagem.png' "  class="card-img-top" alt="Imagem da denuncia">
                    <p class="card-text"><small class="text-muted">{{item.date | date: "dd/MM/yyyy"}} às {{item.date |
                        date: "HH:mm"}}</small></p>
                    <p class="card-text"><small class="text-muted">Postado por: {{item.usuario.nome}}</small></p>
                    <div class="d-flex">
                      <p class="card-text mr-5"><small class="text-muted">Urgência: {{item.urgencia}}</small></p>
                      <p class="card-text"><small class="text-muted">Verificado: {{item.urgencia}}</small></p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- !/Todas as postagens -->

            <!-- !Minhas Postagens -->
            <div class="tab-pane fade" id="nav-minhasPostagens" role="tabpanel"
              aria-labelledby="nav-minhasPostagens-tab">

              <div class="card-columns">
                <div class="card text-center" *ngFor="let item of user.postagem">
                  <div class="card-body">

                    <h5 class="card-title m-0">{{item.tema.categoria}}</h5>
                    <p class="card-text"><small class="text-muted">Estado: {{item.ufNome}}/{{item.ufSigla}}</small></p>
                    <p class="card-text mt-3">{{item.texto}}</p>
                    <img src="{{item.foto}} " onerror="this.src = 'assets/imagens/SemImagem.png' "  class="card-img-top" alt="Imagem da denuncia">
                    <p class="card-text"><small class="text-muted">{{item.date | date: "dd/MM/yyyy"}} às {{item.date |
                        date: "HH:mm"}}</small></p>
                    <p class="card-text"><small class="text-muted">Postado por: {{user.nome}}</small></p>
                    <div class="d-flex">
                      <p class="card-text mr-5"><small class="text-muted">Urgência: {{item.urgencia}}</small></p>
                      <p class="card-text"><small class="text-muted">Verificado: {{item.urgencia}}</small></p>
                    </div>

                    <div>
                      <a class="btn btn-outline-info badge-pill mr-3" [routerLink]="['/postagemEdit', item.id]">Editar</a>
                      <a class="btn btn-outline-danger badge-pill"
                        [routerLink]="['/postagemDelete', item.id]">Apagar</a>
                    </div>

                  </div>
                </div>
              </div>

            </div>
            <!-- !/Minhas Postagens -->

            <!-- !Postagens por tema -->
            <div class="tab-pane fade" id="nav-postagenTema" role="tabpanel" aria-labelledby="nav-postagenTema-tab">

              <div class="form-group">
                <div class="row d-flex justify-content-center">
                  <!-- Pesquisar -->
                  <div class="col-md-4">
                    <select class="form-control badge-pill" id="temas" name="idTema" [(ngModel)]="idTema">
                      <option *ngFor="let item of listaTemas" value="{{item.id}}">{{item.categoria}}</option>
                    </select>
                  </div>
                </div>
                <div class="d-flex justify-content-center mt-3">
                  <button type="button" class="btn btn-outline-secondary badge-pill"
                    (click)="pesquisar()">Pesquisar</button>
                </div>
              </div>
              <!-- /Pesquisar -->

              <div class="card-columns">
                <div class="card text-center" *ngFor="let item of tema.postagem">
                  <div class="card-body">

                    <h5>{{tema.categoria}}</h5>
                    <p class="card-text"><small class="text-muted">Estado: {{item.ufNome}}/{{item.ufSigla}}</small></p>
                    <p class="card-text mt-3">{{item.texto}}</p>
                    <img src="{{item.foto}} " onerror="this.src = 'assets/imagens/SemImagem.png' "  class="card-img-top" alt="Imagem da denuncia">
                    <p class="card-text"><small class="text-muted">{{item.date | date: "dd/MM/yyyy"}} às {{item.date |
                        date: "HH:mm"}}</small></p>
                    <p class="card-text"><small class="text-muted">Postado por: {{item.usuario.nome}}</small></p>
                    <div class="d-flex">
                      <p class="card-text mr-5"><small class="text-muted">Urgência: {{item.urgencia}}</small></p>
                      <p class="card-text"><small class="text-muted">Verificado: {{item.urgencia}}</small></p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- !/Postagens por tema -->

          </div>
          <!-- /Abas das postagens -->
        </div>
      </div>
      <!-- /Posts -->


    </div>
    <!-- /Centro -->

    <!-- lado direito -->
    <div class="col-md-4">
      <div class="row d-flex justify-content-center m-3">
        <h1>Notícias</h1>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <ul class="list-group">
            <li class="list-group-item font-italic"><a href="https://gauchazh.clicrbs.com.br/pioneiro/geral/noticia/2022/01/dois-homens-sao-detidos-por-suspeita-de-exploracao-de-trabalho-infantil-em-caxias-ckyjawov3004c0188mq6f0a99.html" class="corPreta" target="_blank">Dois homens são detidos por suspeita de exploração de trabalho infantil, em Caxias!
              Adolescentes de 16 anos estavam na caçamba de um caminhão que transportava material reciclável.</a><p class="d-flex justify-content-end"> <small class="mt-1">Atualizada em 17/01/2022 </small></p></li>

            <li class="list-group-item font-italic"><a href="https://g1.globo.com/ce/ceara/noticia/2021/08/18/cearense-resgatado-de-trabalho-escravo-relata-precariedade-muito-rato-muito-lixo.ghtml" class="corPreta" target="_blank"> Cearense resgatado de trabalho escravo relata precariedade: 'Muito rato, muito lixo'
              Operação resgatou 17 pessoa de situação análoga à escravidão. Trabalhador justificou o motivo de seguir no local: 'para não roubar a gente submete um momento ruim com esse'.</a><p class="d-flex justify-content-end"> <small class="mt-1">Atualizada em 18/08/2021 </small></p></li>

            <li class="list-group-item font-italic"><a href="https://g1.globo.com/rs/rio-grande-do-sul/noticia/2021/09/23/casos-de-criancas-em-situacao-de-trabalho-infantil-quase-triplicam-na-pandemia-em-porto-alegre.ghtml" class="corPreta" target="_blank">Casos de crianças em situação de trabalho infantil quase triplicam na pandemia em Porto Alegre. Um estudo da Fundação de Assistência Social e Cidadania (Fasc) constatou que o número de crianças e adolescentes em situação de trabalho infantil quase triplicou em 2020 na comparação com 2019 em Porto Alegre, no Rio Grande do Sul. Os novos casos saltaram de 120 para 334 no período.</a><p class="d-flex justify-content-end"> <small class="mt-1">Atualizada em 23/09/2021 </small></p></li>

            <li class="list-group-item font-italic"><a href="https://gauchazh.clicrbs.com.br/geral/noticia/2022/04/familia-manteve-mulher-negra-em-trabalho-analogo-a-escravidao-por-quase-50-anos-em-sao-paulo-cl1md2688004l01iwykmkhodt.html" class="corPreta" target="_blank">Família manteve mulher negra em trabalho análogo à escravidão por quase 50 anos em São Paulo.</a> <p class="d-flex justify-content-end"> <small class="mt-1">Atualizada em 05/04/2022 </small></p></li>

            <li class="list-group-item font-italic"><a href="https://gauchazh.clicrbs.com.br/pioneiro/geral/noticia/2022/04/ministerio-do-trabalho-e-prf-resgatam-80-trabalhadores-vitimas-de-trafico-de-pessoas-e-trabalho-escravo-em-bom-jesus-cl2hxriff0008019i482iqfjm.html" class="corPreta" target="_blank">Ministério do Trabalho e PRF resgatam 80 trabalhadores vítimas de tráfico de pessoas e trabalho escravo em Bom Jesus.
              Este é o maior resgate do Rio Grande do Sul e um dos maiores já registrados no país. Vítimas são da Bahia, Paraíba e Maranhão.</a><p class="d-flex justify-content-end"> <small class="mt-1">Atualizada em 27/04/2022 </small></p></li>
          </ul>
        </div>
      </div>

    </div>
    <!-- /lado direito -->

  </div>

</div>