<div class="container-fluid p-0">

  <div class="row align-items-center ml-0" id="img-bg">

    <!-- inicio esquerdo -->
    <div class="col-md-6"></div>
    <!-- final esuqerdo -->

    <!-- inicio direito -->
    <div class="col-md-6 mt-5 mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10">
          <div class="btn text-center font-weight-bold text-uppercase text-justify">
            <p>DTIE - Denúncia ao Trabalho Infantil e escravo</p>
            <p>Nosso objetivo está alinhado à ODS (Objetivos de Desenvolvimento Sustentável) 8 - Trabalho decente e crescimento econômico, tópico 8.7 - Tomar medidas imediatas e eficazes para erradicar o trabalho forçado, acabar com a escravidão moderna e o tráfico de pessoas, e assegurar a proibição e eliminação das piores formas de trabalho infantil, incluindo recrutamento e utilização de crianças-soldado, e até 2025 acabar com o trabalho infantil em todas as suas formas.</p>
            <p>Nossa  missão é reduzir a burocracia ao criar as denúncias e assim, auxiliar na redução do trabalho infantil e escravo no Brasil.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- final direito -->

  </div>

</div>