<div class="container-fluid">

  <div class="row align-items-center">

    <!-- inicio esquerdo -->
    <div class="col-md-6" id="img-bg"></div>
    <!-- final esuqerdo -->

    <!-- inicio direito -->
    <div class="col-md-6 mt-5 mb-5">
      <div class="row d-flex justify-content-center">

        <div class="col-md-10">
          <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium magni at repellat iure, possimus rerum fuga commodi quidem ab perspiciatis earum ut eligendi ea quasi sed magnam odio architecto ipsum.</p>

        </div>
      </div>
    </div>
    <!-- final direito -->

  </div>

</div>